<web-app>
	<welcome-file-list>
        	<welcome-file>a.html</welcome-file>
    	</welcome-file-list>
	<servlet>
		<servlet-name>ServletAjax</servlet-name>
		<servlet-class>ServletAjax</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletAjax</servlet-name>
		<url-pattern>/ServletAjax</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>checklogin</servlet-name>
		<servlet-class>checklogin</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>checklogin</servlet-name>
		<url-pattern>/checklogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PruebaChart</servlet-name>
		<servlet-class>PruebaChart</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>PruebaChart</servlet-name>
		<url-pattern>/PruebaChart</url-pattern>
	</servlet-mapping>
	
</web-app>
