<web-app>
	<welcome-file-list>
        	<welcome-file>loginform.html</welcome-file>
    	</welcome-file-list>
	<servlet>
		<servlet-name>ServletAjax</servlet-name>
		<servlet-class>ServletAjax</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletAjax</servlet-name>
		<url-pattern>/ServletAjax</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>checklogin</servlet-name>
		<servlet-class>checklogin</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>checklogin</servlet-name>
		<url-pattern>/checklogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PruebaChart</servlet-name>
		<servlet-class>PruebaChart</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>PruebaChart</servlet-name>
		<url-pattern>/PruebaChart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChartHumedadAire</servlet-name>
		<servlet-class>ChartHumedadAire</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ChartHumedadAire</servlet-name>
		<url-pattern>/ChartHumedadAire</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChartTemperatura</servlet-name>
		<servlet-class>ChartTemperatura</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ChartTemperatura</servlet-name>
		<url-pattern>/ChartTemperatura</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChartHumedadTierra</servlet-name>
		<servlet-class>ChartHumedadTierra</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ChartHumedadTierra</servlet-name>
		<url-pattern>/ChartHumedadTierra</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>GetPlantasUsuario</servlet-name>
		<servlet-class>GetPlantasUsuario</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetPlantasUsuario</servlet-name>
		<url-pattern>/GetPlantasUsuario</url-pattern>
	</servlet-mapping>
</web-app>
