.first{
    position: static;
            
    height: 500px;
    width: 1450px;
    max-height: 400px;
    max-width: 1450px;
}
.second{
    position: static;
    
    height: 500px;
    width: 1450px;
    max-height: 400px;
    max-width: 1450px;
}
.first1{
    position: relative;
    left: 35px;
    top: 25px;
    
    height: 450px;
    width: 650px;
    max-width: 650px;
    max-height: 350px;

}
.second2{
    position: relative;
    left: 750px;
    top: -345px;
    
    height: 450px;
    width: 650px;
    max-width: 650px;
    max-height: 350px;

}
.second1{
    position: relative;
    left: 35px;
    top: 5px;
    
    height: 450px;
    width: 650px;
    max-width: 650px;
    max-height: 350px;

}


#GraficaHumedadAire {
    position: relative;    
    
    height: 400px;
    width: 650px;
    max-width: 650px;
    max-height: 400px;
}

#GraficaHumedadTierra {
    position: absolute;    
    
    height: 450px;
    width: 650px;
    max-width: 650px;
    max-height: 400px;
}
#GraficaTemperatura{
    position: relative;    
    
    height: 400px;
    width: 650px;
    max-width: 650px;
    max-height: 400px;
}
